.howItWorks {
  @apply px-8 py-12 bg-muted relative;
}
.wave {
  @apply absolute top-0 left-0 w-full;
  transform: translateY(-77%);
  pointer-events: none;
}

.titleSection {
    @apply flex items-center justify-between mb-12 gap-5;
}

.line {
  @apply flex-1 bg-background h-2 rounded-xl justify-center;
}

.title {
  @apply text-center text-5xl text-background font-extrabold;
}

.stepsContainer {
  @apply flex flex-col items-center justify-between gap-20 space-y-8 md:flex-row md:space-x-12 md:space-y-0 relative;
}

.stepCard {
  @apply flex flex-col items-center text-center relative;
}

.stepCard:not(:last-child)::after {
  content: "";
  background-image: url("/arrow.svg");
  width: 40px;
  height: 40px;
  @apply text-4xl text-background absolute right-[-5rem] top-2/4;
  transform: translateY(-50%);
}

.bottomLine{
    @apply mt-12 bg-background h-2 rounded-xl justify-center;
}
